@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/main.scss */
body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 300;
}

/* line 33, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Open Sans", sans-serif;
}

/* line 37, ../sass/main.scss */
em {
  font-style: italic;
}

/* line 41, ../sass/main.scss */
p {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 49, ../sass/main.scss */
.full-page {
  width: 100%;
}

/* line 53, ../sass/main.scss */
.center-page {
  max-width: 1024px;
  margin: auto;
}

/* line 58, ../sass/main.scss */
.white-box-container {
  height: 400px;
  margin-bottom: 20px;
  padding: 0 10px;
}
/* line 63, ../sass/main.scss */
.white-box-container .white-box {
  padding: 10px;
  height: 100%;
  background-color: white;
  color: black;
}
/* line 70, ../sass/main.scss */
.white-box-container .white-box .icon {
  text-align: center;
  padding-top: 30px;
}
/* line 74, ../sass/main.scss */
.white-box-container .white-box .icon i {
  font-size: 100px;
}
/* line 78, ../sass/main.scss */
.white-box-container .white-box .icon h3 {
  font-size: 30px;
  margin-top: 20px;
}
/* line 84, ../sass/main.scss */
.white-box-container .white-box p.description {
  line-height: 1.5em;
  margin-top: 30px;
  font-size: 16px;
}

/* line 96, ../sass/main.scss */
#intro-bar {
  height: 800px;
  background-image: url("../img/toronto-hipster.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 20px;
  padding-left: 50px;
  font-weight: 100;
  color: white;
}
/* line 108, ../sass/main.scss */
#intro-bar h1 {
  font-size: 70px;
  line-height: 100px;
}
/* line 113, ../sass/main.scss */
#intro-bar p#slogan {
  font-size: 30px;
  margin-top: 15px;
}

/* line 120, ../sass/main.scss */
#bio-bar {
  background-color: #e04231;
  padding: 0 20px;
  padding-bottom: 50px;
  color: white;
}
/* line 126, ../sass/main.scss */
#bio-bar h1 {
  font-size: 70px;
  padding: 50px 0;
  font-weight: 100;
  margin-left: 10px;
}
/* line 133, ../sass/main.scss */
#bio-bar .white-box .icon i {
  color: #e04231;
}
/* line 137, ../sass/main.scss */
#bio-bar a {
  color: #e04231;
}
/* line 139, ../sass/main.scss */
#bio-bar a:hover {
  color: #e04231;
}
/* line 140, ../sass/main.scss */
#bio-bar a:visited {
  color: #e04231;
}

/* line 144, ../sass/main.scss */
#portfolio-bar {
  background-color: #008fd4;
  color: white;
  padding-bottom: 50px;
}
/* line 149, ../sass/main.scss */
#portfolio-bar a {
  color: #008fd4;
}
/* line 151, ../sass/main.scss */
#portfolio-bar a:hover {
  color: #008fd4;
}
/* line 152, ../sass/main.scss */
#portfolio-bar a:visited {
  color: #008fd4;
}
/* line 156, ../sass/main.scss */
#portfolio-bar h1 {
  font-size: 70px;
  padding: 50px 0;
  font-weight: 100;
  margin-left: 10px;
}
/* line 163, ../sass/main.scss */
#portfolio-bar .white-box .icon i {
  color: #008fd4;
  padding: 0 10px;
}
/* line 169, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal {
  background-color: white;
  color: black;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 176, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal h2 {
  font-size: 40px;
}
/* line 180, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal p {
  margin: 10px 0;
}
/* line 184, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal p.jobs-text {
  margin: 25px 0;
}
/* line 188, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal .portfolio-item {
  margin-bottom: 10px;
}
/* line 191, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal .portfolio-item .cw-image {
  background-color: black;
}
/* line 193, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal .portfolio-item .portfolio-text {
  padding-left: 10px;
}
/* line 196, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal .portfolio-item .portfolio-text h3 {
  font-size: 30px;
}
/* line 199, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal .portfolio-item .portfolio-text h3 a {
  color: black;
  text-decoration: none;
}
/* line 203, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal .portfolio-item .portfolio-text h3 a:visited {
  color: black;
}
/* line 209, ../sass/main.scss */
#portfolio-bar #jobs-bar #jobs-bar-internal .portfolio-item .portfolio-text p.date {
  color: #999;
  font-size: 13px;
}
