@import "compass/css3";
@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

// VARIABLES
//***********

// dimensions
$center-page-width: 1024px;
$div-pads: 10px;

//fonts
$sans: "Roboto", "Open Sans", sans-serif;

//colors
$red: #E04231;
$blue: #008FD4;



// BASE STYLES
//*************

* { @include box-sizing(border-box); }

body {
	font-family: $sans;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
}

em {
	font-style: italic;
}

p {
	font-size: 16px;
	line-height: 1.5em;
}


// REUSABLE CLASSES
//******************
.full-page {
	width: 100%;
}

.center-page {
	max-width: $center-page-width;
	margin: auto;
}

.white-box-container {
	height: 400px;
	margin-bottom: 20px;
	padding: 0 10px;

	.white-box {
		padding: 10px;
		height: 100%;

		background-color: white;
		color: black;

		.icon {
			text-align: center;
			padding-top: 30px;

			i {
				font-size: 100px;
			};

			h3 {
				font-size: 30px;
				margin-top: 20px;
			};
		}

		p.description {
			line-height: 1.5em;
			margin-top: 30px;
			font-size: 16px;
		}
	}
}


// SPECIFIC STYLES
//*****************

#intro-bar {
	height: 800px;
	background-image: url('../img/toronto-hipster.jpg');
	background-size: cover;
	background-position: center center;

	padding-top: 20px;
	padding-left: 50px;

	font-weight: 100;
	color: white;

	h1 {
		font-size: 70px;
		line-height: 100px;
	}

	p#slogan {
		font-size: 30px;
		margin-top: 15px;
	}
}


#bio-bar {
	background-color: $red;
	padding: 0 20px;
	padding-bottom: 50px;
	color: white;

	h1 {
		font-size: 70px;
		padding: 50px 0;
		font-weight: 100;
		margin-left: 10px;
	}

	.white-box .icon i {
		color: $red;
	}

	a {
		color: $red;
		&:hover { color: $red; }
		&:visited { color: $red; }
	}
}

#portfolio-bar {
	background-color: $blue;
	color: white;
	padding-bottom: 50px;

	a {
		color: $blue;
		&:hover { color: $blue; }
		&:visited { color: $blue; }
	}


	h1 {
		font-size: 70px;
		padding: 50px 0;
		font-weight: 100;
		margin-left: 10px;
	}

	.white-box .icon i {
		color: $blue;
		padding: 0 10px;
	}

	#jobs-bar {
		#jobs-bar-internal {
			background-color: white;
			color: black;
			padding: 10px;
			margin-left: 10px;
			margin-right: 10px;

			h2 {
				font-size: 40px;
			}

			p {
				margin: 10px 0;
			}

			p.jobs-text {
				margin: 25px 0;
			}

			.portfolio-item {
				margin-bottom: 10px;

				.cw-image {background-color: black;}

				.portfolio-text {
					padding-left: 10px;

					h3 {
						font-size: 30px;

						a {
							color: black;
							text-decoration: none;

							&:visited {
								color: black;
							}
						}
					}

					p.date {
						color: #999;
						font-size: 13px;
					}
				}
			}
		}
	} //#jobs-bar


}
